@import '../../less/variables/variables.less';

.card-container {
    margin-top: 32px;
}

button.add-card {
    background-color: @orange-400;
    border: 1px solid @orange-400;
    font-weight: bold;
}
