.search-container {
    margin-bottom: 8px;
    min-width: 320px;
    width: 25%;
    padding: 8px;
}

.colors-container,
.text-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    .form-group {
        display: inline;
    }
}

.search-input {

}

.sr-only {
    display: none;
}
