@import '../../less/index.less';

.search-container {
    margin-bottom: 8px;
    padding: 8px;
    position: relative;
}

.colors-container,
.text-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.search-input {

}

.sr-only {
    display: none;
}

.results-container {
    position: absolute;
    height: auto;
    max-height: 600px;
    overflow-y: auto;
}
