@import '../../less/variables/variables.less';

.accordion {

}

.accordion-title {
    background-color: @grey-300;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .toggle-caret {
        transform: rotate(90deg);
    }
}

.accordion-body {
    background-color: @grey-100;
    opacity: 1;
    display: inherit;
    transition: opacity 0.4s ease;

    .card-info {
        display: inline-block;
    }
}

.accordion-body.closed {
    opacity: 0;
    display: none;
}
